.wrapper {
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
}

.h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
}

.close-modal {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 20px;

  &:hover {
    opacity: 0.6;
  }
}

.scroll-x {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--color-primary);
  }
}
